:root {
    --white: #f8f8ff;
    --light-blue: #00a6ff;
    --blue: #0391f0;
    --dark-blue: #0077c8;
    --black-blue: #000521;
    --black: #121212;
    --gray: #2c2c2c;
    --green: #67ff9d;
    --radius-default: 5px;
}