@import url("./_variaveis.css");
@import url("../../Components/Header/Header.css");
@import url("../../Components/Footer/Footer.css");

body {
    background-color: var(--gray);
}

main {
    width: 100%;
    height: auto;
    position: relative;
}



/* ALERT */

.alert {
    position: relative;
    width: 100%;
    height: 50px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    cursor: default;
}

.alert_row {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alert_row span {
    background-color: var(--dark-blue);
    border-radius: 30px;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: var(--white);
}

.alert_row p {
    font-weight: 100;
    font-size: 1.2rem;
}

.alert_row p span {
    font-weight: bold;
}

.alert_row a {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.15s ease 0s;
}

.alert_row a::after {
    content: "";
    position: absolute;
    right: -15px;
    background: transparent;
    border-right: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-radius: 0px 5px 3px;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    transform: rotate(315deg);
    transition: all 0.15s ease 0s;
}

.alert_row a:hover {
    color: var(--light-blue);
}

.alert_row a:hover::after {
    right: -18px;
    border-right: 3px solid var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
}

/* ALERT */

#banner {
    width: 100%;
    height: 942px;
}

#banner .banner_home {
    width: 100%;
    height: 100%;
    position: relative;
}

#banner .banner_home img {
    width: 100%;
    height: 100%;
}

#banner .banner_home a {
    width: auto;
    height: auto;
    background-color: var(--dark-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: var(--radius-default);
    transition: all 0.25s ease 0s;
    position: relative;
    bottom: 280px;
    left: 20%;
}

#banner .banner_home a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

/* ADVANTAGE */

#advantage {
    background-image: url("../images/bg_cont_familia.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding: 5% 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    gap: 50px;
    background-color: black;
}

#advantage h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

#advantage .advantage_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90%;
}

.advantage_row .advantage_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}

.advantage_row .advantage_item img {
    width: 250px;
    height: 250px;
}

.advantage_row .advantage_item h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

.advantage_row .advantage_item p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--white);
    line-height: 24px;
}

/* ADVANTAGE */
/* APPSTORE */

#appstore {
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgb(253, 253, 255);
}

#appstore .appstore_row {
    width: 90%;
    height: auto;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}

.appstore_row .appstore_image {
    width: 50%;
    height: auto;
    position: relative;
    top: 0px;
}

.appstore_row .appstore_image img {
    width: 772px;
    height: auto;
    margin: 0px auto;
    display: block;
}

.appstore_row .appstore_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    gap: 50px;
}

.appstore_text .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 60px;
    position: relative;
    gap: 15px;
    cursor: default;
}

.appstore_text .title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 1px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);
    box-shadow: black 0px 8px 8px;
}

.appstore_text .title h3 {
    font-size: 2.5rem;
    color: var(--gray);
    font-weight: 900;
    text-transform: lowercase;
    text-align: center;
}

.appstore_text .title span {
    font-size: 4rem;
    color: var(--light-blue);
    font-weight: 900;
    text-transform: capitalize;
}

.appstore_text .title p {
    font-size: 1.3rem;
    color: var(--gray);
    font-weight: bold;
    text-align: center;
}

.appstore_text .title p span {
    color: var(--light-blue);
    font-size: 1.5rem;
}

.stores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.stores::after {
    content: "";
    height: 50%;
    width: 1px;
    background: rgba(0, 0, 0, 0.23);
    position: absolute;
}

.stores a img {
    width: 240px;
    height: 70px;
}

/* APPSTORE */
/* PLANS */

#plans {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--black-blue);
    padding: 5% 0;
}

#plans .plans_row {
    width: 90%;
    height: auto;
    margin: 0px auto;
}

#plans .plans_row h3 {
    color: var(--white);
    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 5% 0;
}

.plans_row .plans_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.plans_container .plan_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    background-image: linear-gradient(rgb(11, 84, 157), rgba(6, 18, 41, 0.91));
    gap: 20px;
    border-radius: var(--radius-default);
}

.plans_container .plan_item.recommended {
    transform: scale(1.03);
    background-image: linear-gradient(rgb(0 128 255), rgb(7 26 62 / 91%));
    position: relative;
}

.plans_container .plan_item.recommended::after {
    content: 'Recomendado';
    width: auto;
    position: absolute;
    top: -15px;
    right: 0px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0 0 10px var(--green);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--gray);
}

.plan_item .plan_image {
    position: relative;
    width: 380px;
    height: 215px;
}

.plan_item .plan_image img {
    width: 100%;
    height: auto;
}

.plan_item .plan_title {
    width: 100%;
    height: auto;
    background-color: var(--dark-blue);
    padding: 10px;
    cursor: default;
}

.plan_item .plan_title h4 {
    color: var(--white);
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

.plan_item .plan_description {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.plan_item .plan_description:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 99%;
    height: 1px;
    background: rgba(255, 255, 255, 0.341);
}

.plan_item .plan_description span {
    color: var(--white);
    text-transform: capitalize;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.plan_item .plan_description span::after {
    content: "";
    position: absolute;
    color: rgb(0, 174, 255);
    clip-path: polygon(0px 51%, 0px 51%, 27% 100%, 100% 0px, 28% 77%);
    background: rgb(0, 174, 255);
    width: 25px;
    height: 18px;
    right: 0px;
}

.plan_item .plan_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
}

.plan_item .plan_actions .plan_price {
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.plan_item .plan_actions .plan_button {
    background-color: var(--dark-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all 0.2s ease 0s;
    border-radius: var(--radius-default);
}

.plan_item .plan_actions .plan_button:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

/* PLANS */
/* FAQ */

#faq {
    width: 100%;
    height: auto;
    background-color: var(--black-blue);
    position: relative;
}

#faq .faq_row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3% 0;
}

#faq .faq_row h5 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.faq_row .faq_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 45%;
}

.faq_row .faq_container .faq_itens {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid var(--white);
    border-radius: var(--radius-default);
    padding: 15px;
    position: relative;
    overflow-y: hidden;
    transition: all .4s;
}

span.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 12px;
}

span.close span:nth-child(1) {
    width: 100%;
    display: block;
    height: 2px;
    background: #f8f8f8;
    transform: rotate(0deg);
    position: absolute;
    transition: all .3s;
}

span.close span:nth-child(2) {
    width: 100%;
    display: block;
    height: 2px;
    background: #f8f8f8;
    transform: rotate(90deg);
    position: absolute;
    transition: all .3s;
}

.faq_itens.open span.close span:nth-child(1) {
    background: #0077c8;
    transform: rotate(225deg);
}

.faq_itens.open span.close span:nth-child(2) {
    background: #0077c8;
    transform: rotate(136deg);
}

.faq_row .faq_container .faq_itens p {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.faq_row .faq_container .faq_itens .faq_description {
    color: var(--white);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.faq_row .faq_container .faq_itens.open {
    height: 350px;
    background-color: var(--white);
}

.faq_row .faq_container .faq_itens.open p {
    color: var(--dark-blue);
}

.faq_row .faq_container .faq_itens .faq_description {
    color: var(--gray);
    overflow-y: auto;
    cursor: default;
}

.faq_row .faq_container .faq_itens .faq_description p {
    color: var(--black-blue);
    margin: 0;
    cursor: default;
}

.faq_row .faq_container .faq_itens .faq_description img {
    width: 120px;
    height: auto;
}

.faq_row .faq_container .faq_itens .faq_description a:hover {
    color: var(--dark-blue);
}

/* FAQ */
/*MEDIA QUERIES*/

/*DESKTOP PEQUENO*/

@media screen and (max-width: 1366px) {

    #banner {
        height: auto;
    }

    #banner .banner_home a {
        position: absolute;
        bottom: 150px;
        left: 16%;
    }

    /* APPSTORE */

    .appstore_row .appstore_image img {
        width: 100%;
    }

    .appstore_text .title h3 {
        font-size: 1.5rem;
    }

    .appstore_text .title span {
        font-size: 2.5rem;
        text-align: center;
    }

    .stores a img {
        width: 100%;
        height: auto;
    }

    /* APPSTORE */
    /* PLANS */

    .plans_container .plan_item {
        width: 33%;
    }

    .plan_item .plan_image {
        width: 100%;
        height: auto;
    }

    .plan_item .plan_actions {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .plan_item .plan_actions .plan_button {
        width: 100%;
        text-align: center;
    }

    /* PLANS */
    /* FAQ */

    .faq_row .faq_container {
        width: 60%;
    }

    /* FAQ */
}

/*DESKTOP PEQUENO*/

/*TABLETS*/

@media screen and (max-width: 940px) {

    /* ALERT */

    .alert_row {
        width: 90%;
    }

    .alert_row span {
        width: 70px;
    }

    /* ALERT */

    #banner {
        height: auto;
    }

    #banner .banner_home a {
        position: absolute;
        bottom: 110px;
        left: 15%;
    }

    /* ADVANTAGE */

    .advantage_row .advantage_item {
        min-width: 33%;
        gap: 15px;
    }

    /* ADVANTAGE */
    /* APPSTORE */

    .appstore_row .appstore_image {
        display: none;
    }

    .appstore_row .appstore_text {
        width: 100%;
    }

    .stores a img {
        width: 100%;
        height: auto;
    }

    /* APPSTORE */
    /* PLANS */

    .plans_row .plans_container {
        gap: 25px;
    }

    .plans_container .plan_item {
        min-width: 33%;
    }

    .plan_item .plan_image {
        width: 100%;
        height: auto;
    }

    .plan_item .plan_actions {
        flex-direction: column;
        gap: 10px;
    }

    .plan_item .plan_actions .plan_button {
        font-size: 1.2rem;
        padding: 10px 15px;
        text-align: center;
        width: 100%;
    }

    /* PLANS */
    /* FAQ */

    .faq_row .faq_container {
        width: 100%;
    }

    /* FAQ */
}

/*TABLETS*/
/*CELULAR*/

@media screen and (max-width: 540px) {
    /* ALERT */

    .alert_row {
        width: 90%;
        height: 100%;
    }

    .alert_row span {
        font-size: 1rem;
        width: 20%;
    }

    .alert_row p {
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: start;
        width: 100%;
    }

    .alert_row p span {
        font-weight: bold;
        background: none;
        color: var(--black);
        padding: 0;
    }

    .alert_row a {
        font-size: 1rem;
        width: 80%;
        text-align: center;
    }

    .alert_row a::after {
        right: 0px;
    }

    .alert_row a:hover::after {
        right: -3px;
    }

    /* ALERT */

    #banner {
        height: auto;
    }

    #banner .banner_home a {
        display: none;
    }

    /* ADVANTAGE */

    #advantage {
        padding: 10% 0px;
    }

    #advantage h1 {
        font-size: 2rem;
    }

    .advantage_row .advantage_item h2 {
        font-size: 1.5rem;
    }

    .advantage_row .advantage_item p {
        font-size: 1.1rem;
    }

    #advantage .advantage_row {
        flex-direction: column;
    }

    .advantage_row .advantage_item {
        width: 100%;
    }

    /* ADVANTAGE */
    /* APPSTORE */

    #appstore {
        padding: 10% 0;
    }

    .appstore_text .title {
        padding: 0;
    }

    .appstore_row .appstore_image {
        display: none;
    }

    .appstore_row .appstore_text {
        width: 100%;
    }

    .appstore_text .title h3 {
        font-size: 1rem;
    }

    .appstore_text .title p {
        font-size: 1rem;
    }

    .appstore_text .title p span {
        font-size: 1.1rem;
    }

    .appstore_text .title span {
        text-align: center;
    }

    .stores a img {
        width: 100%;
        height: auto;
    }

    /* APPSTORE */
    /* PLANS */

    #plans {
        padding: 10% 0;
    }

    #plans .plans_row h3 {
        font-size: 2rem;
    }

    .plans_row .plans_container {
        flex-direction: column;
    }

    .plans_container .plan_item {
        width: 100%;
    }

    .plan_item .plan_image {
        position: relative;
        width: 100%;
        height: auto;
    }

    .plans_container .plan_item.recommended {
        transform: scale(1);
    }

    /* PLANS */
    /* FAQ */

    .faq_row .faq_container {
        width: 100%;
    }

    #faq .faq_row h5 {
        text-align: center;
    }

    /* FAQ */
}

/*CELULAR*/

/*MEDIA QUERIES*/

